# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AspSolution.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Sebastian\RiderProjects\AspSolution\.idea\.idea.AspSolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
